process {
    publishDir = {"./results/${sid}/${task.process}"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "${sid}" }
    afterScript = 'sleep 5'
}

params {
    //**Transfo to LPS (-x, -y, and/or -z). For MNI templates: "-x -y"**//
        flip_to_lps="-x -y"

    //**ROIs parameters**//
        rois_opening=2
        rois_closing=2
        rois_smoothing=2
        rois_params="--fill --max_label"

    //**ROIs seed params**//
        rois_seeding=true
        rois_seed_params="--binarize --binarize_value 0.5"

    //**Surfaces smoothing**//
        surf_smooth_nb_step=2
        surf_smooth_step_size=2.0

    //**Surfaces flow**//
        surf_flow_nb_step=100
        surf_flow_step_size=1.0

    //**Advanced Surfaces flow options**//
        subsample_flow=1
        gaussian_threshold=0.2
        angle_threshold=2

    //**Surfaces tracking seeds**//
        nb_dynamic_seeding_iter=1
        nb_seeds_per_random_nb=500000
        random_nb_generator="1,2,3,4,5,6,7,8"
        seeds_weighted_per_area=true
        use_seed_direction=false
        use_only_first_cut=false

    //**Tractography algorithm**//
        tractography_algo="prob"
        tractography_step=0.2
        tractography_theta=20.0
        tractography_sfthres=0.1

    //**PFT specific**//
        pft_sfthres_init=0.5
        pft_particles=15
        pft_back=2
        pft_front=1

    //**Combine tractography and flow**//
        compression_rate=0.2

    //**Tractogram Filtering**//
        minimum_length=10
        maximum_length=300

    //**Concatenate tractogram**//
        // concatenate_tractogram=true

    //**Output directory**//
        output_dir=false

    //**Process control**//
        processes=false

    //**Default profiles switch**//
        params.is_freesurfer=false
        params.is_civet=false
        params.is_vtk=false
}


profiles {
    standard {
    }

    freesurfer_basic {
        params.is_freesurfer=true
        params.atlas="freesurfer_standard"
        params.flow_masked_indices="-1 0 35"
        params.seed_masked_indices="-1 0"
        params.intersections_masked_indices="-1 0"
        params.rois_indices=["16", "9 10 11 12 13 17 18 27 48 49 50 51 52 53 54 59"]
        params.unused_connectivity_labels="-1 0"
    }

    freesurfer_proper {
        params.is_freesurfer=true
        params.atlas="freesurfer_standard"
        params.flow_masked_indices="-1 0 35"
        params.seed_masked_indices="-1 0"
        params.intersections_masked_indices="-1 0"
        params.rois_indices=["10", "11", "12", "13", "16", "17", "18", "49", "50", "51", "52", "53", "54"]
        params.unused_connectivity_labels="-1 0"
    }

    freesurfer_a2009s_basic {
        params.is_freesurfer=true
        params.atlas="freesurfer_a2009s"
        params.flow_masked_indices="-1 0 6 7 8 9 10 35 42 67"
        params.seed_masked_indices="-1 0 "
        params.intersections_masked_indices="-1 0"
        params.rois_indices=["16", "9 10 11 12 13 17 18 27 48 49 50 51 52 53 54 59"]
        params.unused_connectivity_labels="-1 0"
    }

    freesurfer_a2009s_proper {
        params.is_freesurfer=true
        params.atlas="freesurfer_a2009s"
        params.flow_masked_indices="-1 0 6 7 8 9 10 35 42 67"
        params.seed_masked_indices="-1 0"
        params.intersections_masked_indices="-1 0"
        params.rois_indices=["10", "11", "12", "13", "16", "17", "18", "49", "50", "51", "52", "53", "54"]
        params.unused_connectivity_labels="-1 0"
    }

    civet2_dkt {
        params.is_civet=true
        params.atlas="civet2"
        params.flow_masked_indices="6 7 18 19 25 31 106 107 118 119 125 131"
        params.seed_masked_indices="6 106"
        params.intersections_masked_indices="6 106"
        params.rois_indices=["11", "12", "14", "16", "20", "39", "53", "102", "203"]
        params.unused_connectivity_labels="0 6 106"
        params.civet_template="/civet2_dkt/"
    }

    civet2_aal {
        params.is_civet=true
        params.atlas="civet2"
        params.flow_masked_indices="0 29 30 31 32 33 34 35 36"
        params.seed_masked_indices="0"
        params.intersections_masked_indices="0"
        params.rois_indices=["11", "12", "14", "16", "20", "39", "53", "102", "203"]
        params.unused_connectivity_labels="0"
        params.civet_template="/civet2_aal/"
    }

    vtk {
        params.is_vtk=true
    }

}

env {
    ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS=1
    MRTRIX_NTHREADS=1
    OMP_NUM_THREADS=1
    OPENBLAS_NUM_THREADS=1
}

if(params.output_dir) {
    process.publishDir = {"${params.output_dir}/$sid/$task.process"}
}
else{
    params.output_dir = "./results/"
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}

singularity {
    runOptions='--nv'
    autoMounts=true
}
